Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": "eslint --cache --fix",
  "*.{js,ts,vue,scss,html,md,json}": "prettier --write"
}

📝 docs: give hint to absent-minded people
  README.md
Due: prettier --write

✏️ typo: fix typo that caused Prettier to rewrite Git emoji as italics
  README.md
Due: prettier --write

👷 ci: add linting to CI, in case of --no-verify tricks
  .github/workflows/node.js.yml
  package.json
Due: prettier --write

👷 ci: separate qa from build job
  .github/workflows/node.js.yml
Due: none

⏪️ revert: revert incorrect CI setup
  .github/workflows/node.js.yml
Due: none

👷 ci: rename build job
  .github/workflows/node.js.yml
Due: none

💬 text: edit project description for frontend
  frontend/package.json
Due: prettier --write

🏗️ arch: initialize backend structure
  .eslintrc.js
  backend/.eslintrc.js
  backend/.gitignore
  backend/.gitkeep
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🎨 codestyle: fix Prettier not in monorepo root and reformat everything
  .prettierrc
Due: none

🎨 codestyle: fix .prettierrc not at monorepo root and reformat everything
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  frontend/tsconfig.json
Due: eslint --cache --fix, prettier --write

🐛 bugfix: fix incorrect imports for tests
  backend/src/app.controller.spec.ts
  backend/test/app.e2e-spec.ts
Due: eslint --cache --fix, prettier --write

🔨 devscripts: setup typechecking
  backend/package.json
  package.json
Due: prettier --write

👷 ci: add typechecking and building to CI
  .github/workflows/node.js.yml
Due: none

🚚 relocate: move .vscode to monorepo root
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

🎨 codestyle: avoid default exports
  backend/.eslintrc.js
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
Due: eslint --cache --fix, prettier --write

👷 ci: add testing and typecheck+build to CI
  .github/workflows/node.js.yml
  package.json
Due: prettier --write

🎨 codestyle: reformat root config files with Prettier
  .eslintrc.js
  commitlint.config.js
Due: eslint --cache --fix, prettier --write

➕ depadd: add passport
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

➕ depadd: add TypeORM
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

📌 depver: add @nestjs/typeorm and correct typeorm version as peerdep
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature(backend): begin auth and user modules
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/database.module.ts
  backend/src/database.provider.ts
  backend/src/main.ts
  backend/src/users/user.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

🔧 config: add symlinks to monorepo root .vscode folder
  backend/.vscode/extensions.json
  backend/.vscode/settings.json
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
Due: prettier --write

➕ depadd: change the very slow ts-jest into @swc/jest
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

🔥 prune: remove unneeded database*.ts files
  backend/src/database.module.ts
  backend/src/database.provider.ts
Due: eslint --cache --fix, prettier --write

✅ tests: fix tests not clearing mocks
  backend/src/users/users.service.spec.ts
Due: eslint --cache --fix, prettier --write

💚 fixci: attempt to fix CI due to missing Postgres service
  .github/workflows/node.js.yml
Due: none

➕ depadd: replace dotenv with @nestjs/config
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

➖ deprm: remove ts-jest
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✅ tests: fix failing test due to wrong import and unclosed server
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
Due: eslint --cache --fix, prettier --write

🔨 devscripts: add pre-push hook
  .husky/pre-push
Due: none

♻️ refactor: migrate app.module and main.ts from dotenv to @nestjs/config
  backend/src/app.module.ts
  backend/src/main.ts
Due: eslint --cache --fix, prettier --write

🔧 config: require return type annotation in ESLint
  backend/.eslintrc.js
Due: eslint --cache --fix, prettier --write

🚨 lint: fix linter violation
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

🔧 config: allow vars and args that start with underscore
  .eslintrc.js
Due: eslint --cache --fix, prettier --write

✅ tests: fix async tests missing return
  backend/src/users/users.service.spec.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add simple local auth service
  backend/package.json
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🩹 fix: fix missing exports in UsersModule
  backend/src/users/users.module.ts
Due: eslint --cache --fix, prettier --write

🔧 config: add HTML reporters
  backend/package.json
  backend/test/.gitignore
  backend/test/jest-e2e.json
  pnpm-lock.yaml
Due: prettier --write

🚚 relocate: rename E2E tests to integration tests
  backend/package.json
  backend/test/app.integration-spec.ts
  backend/test/jest-integration.json
  package.json
Due: eslint --cache --fix, prettier --write

🔧 config: forbid implicit overrides
  backend/tsconfig.json
Due: prettier --write
