Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

🚧 wip: hack user service classes and test coz of the additional columns
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Due: prettier --write, eslint --cache --fix

♻️ refactor: refactor seeding system
  backend/cypress/integration/login.steps.ts
  backend/cypress/plugins/index.js
  backend/database/cypress-seeder.ts
  backend/database/seed.ts
  backend/database/seeder.ts
  backend/database/seeds/users.seed.ts
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🏷️ types: fix jest getting TS errors
  backend/tsconfig.json
Due: prettier --write

📝 docs: update README badges
  README.md
  backend/README.md
Due: prettier --write

✏️ typo: remove incorrect generic
  backend/database/seeder.ts
Due: prettier --write, eslint --cache --fix

🏷️ types: add node and jest types
  backend/tsconfig.json
Due: prettier --write

📝 docs: commit autogenerated schema
  frontend/schema.graphql
Due: none

📌 depver: update and regenerate lockfile
  pnpm-lock.yaml
Due: none

🔨 devscripts: fix NPM scripts related to E2E tests
  frontend/package.json
  package.json
Due: prettier --write

🔧 config(vscode): fix default formatter for JS
  backend/.vscode/settings.json
Due: prettier --write

🩹 fix: fix bad hacks from added columns
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.spec.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/test/auth.integration.spec.ts
  frontend/src/router/auth-guard.spec.ts
Due: prettier --write, eslint --cache --fix

🐛 bugfix: fix seed system to be Cypress-compatible
  backend/database/seed.ts
  backend/database/seeder.ts
  backend/database/seeds/user.seed.ts
Due: prettier --write, eslint --cache --fix

✅ tests: fix E2E tests
  backend/.cypress-cucumber-preprocessorrc.json
  backend/cypress/integration/login.feature
  backend/cypress/integration/login.steps.ts
Due: prettier --write, eslint --cache --fix

🏷️ types: fix TS errors
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/local.strategy.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update README badges
  backend/README.md
  frontend/README.md
Due: prettier --write

📝 docs: update root README badges [skip ci]
  README.md
Due: prettier --write

📌 depver: regenerate lockfile AGAIN
  pnpm-lock.yaml
Due: none

⬆️ upgrade: upgrade packages
  backend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

📝 docs: document missing step of creating Postgres DB [skip ci]
  README.md
Due: prettier --write

💡 comment: remove todo comment [skip ci]
  backend/src/users/users.service.ts
Due: prettier --write, eslint --cache --fix

💡 comment: remove another forgotten TODO comment [skip ci]
  backend/database/seeder.ts
Due: prettier --write, eslint --cache --fix

🚀 deploy: fix SPA 404ing when refreshed
  render.yaml
Due: none

✅ tests: await all .setValue and .trigger calls
  frontend/src/components/login-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add password visibility toggle
  frontend/src/components/login-form.vue
  frontend/src/components/login-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add validation pipe
  backend/src/common/validation.pipe.ts
Due: prettier --write, eslint --cache --fix

➕ depadd: add class-validator + class-transformer
  backend/package.json
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: add validation and derive DTOs
  backend/src/users/credentials.dto.ts
  backend/src/users/provider-registrant.dto.ts
  backend/src/users/registrant.dto.ts
  backend/src/users/user-identification.dto.ts
  backend/src/users/user-without-hash.dto.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.spec.ts
  backend/src/users/user.resolver.ts
  backend/src/users/users.service.ts
Due: prettier --write, eslint --cache --fix

✨ feature: enable global auto-validation
  backend/src/main.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update README badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write

♻️ refactor: fix imports for auth module
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/local.strategy.spec.ts
  backend/src/auth/local.strategy.ts
Due: prettier --write, eslint --cache --fix

♻️ refactor: refactor seeder to use new DTOs
  backend/database/seeder.ts
Due: prettier --write, eslint --cache --fix

♻️ refactor: refactor frontend to use new DTOs
  frontend/src/components/login-form.vue
Due: prettier --write, eslint --cache --fix

🐛 bugfix: fix all derived DTOs without any GraphQL decorator
  backend/src/users/credentials.dto.ts
  backend/src/users/provider-registrant.dto.ts
  backend/src/users/registrant.dto.ts
  backend/src/users/user-identification.dto.ts
  backend/src/users/user-without-hash.dto.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.spec.ts
  backend/src/users/user.resolver.ts
Due: prettier --write, eslint --cache --fix

🐛 bugfix: fix incorrect setup for schema
  backend/src/users/registrant.dto.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.ts
Due: prettier --write, eslint --cache --fix

📸 snapshots: generate updated schema
  frontend/schema.graphql
Due: none

📝 docs: update README coverage badges
  README.md
  backend/README.md
Due: prettier --write

🔥 prune: remove hand-made ValidationPipe class (already built-in in Nest)
  backend/src/common/validation.pipe.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: fix enum decorations
  backend/src/users/user.entity.ts
  frontend/schema.graphql
Due: prettier --write, eslint --cache --fix

✅ tests: add auto-validation smoke test
  backend/test/smoke.integration.spec.ts
  backend/test/types/graphql-response.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
  eslint --cache --fix: any of: *.{js,ts,vue}
