Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,vue,scss,html,md,json}": "prettier --write",
  "*.{js,ts,vue}": "eslint --cache --fix"
}

🚧 wip: attempt to find open handles and fix them
  backend/test/auth.integration.spec.ts
  backend/test/smoke.integration.spec.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: fix open handles issue by closing TypeORM
  backend/test/auth.integration.spec.ts
  backend/test/smoke.integration.spec.ts
Due: prettier --write, eslint --cache --fix

♻️ refactor: refactor login into components and composables
  frontend/src/components/google-sign-in-button.vue
  frontend/src/components/login-form.vue
  frontend/src/composables/use-save-and-redirect.ts
  frontend/src/composables/use-visibility-toggle.ts
Due: prettier --write, eslint --cache --fix

🔧 config(eslint): disable unicorn foreach rule
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

💄 ui: create registration page and form
  frontend/src/components/registration-form.vue
  frontend/src/pages/registration-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

♻️ refactor: move inline style to CSS
  frontend/src/pages/registration-page.vue
Due: prettier --write, eslint --cache --fix

🔧 config: setup GraphQL tooling (eslint, codegen)
  .vscode/settings.json
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.vscode/settings.json
  frontend/graphql.config.yaml
  frontend/package.json
  graphql.config.yaml
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🩹 fix: fix GraphQL schema from backend
  backend/src/users/provider-registrant.dto.ts
  backend/src/users/user.entity.ts
  frontend/schema.graphql
Due: prettier --write, eslint --cache --fix

🔧 config(graphql): keep enum values casing
  frontend/graphql.config.yaml
Due: none

➕ depadd: add urql
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: add urql client provider
  frontend/src/app.vue
Due: prettier --write, eslint --cache --fix

✨ feature: add working mutation for user registration
  frontend/src/components/register.graphql
  frontend/src/components/registration-form.vue
Due: prettier --write, eslint --cache --fix

📝 docs: update README coverage badges
  README.md
  frontend/README.md
Due: prettier --write

🔧 config(eslint): ignore generated files
  frontend/.eslintignore
Due: none

💚 fixci: fix frontend dir permissions (codegen failing on CI)
  .github/workflows/node.js.yml
Due: none

👷 ci: rename permission task to be more descriptive [skip ci]
  .github/workflows/node.js.yml
Due: none

✅ tests: refactor tests (move from component to composable)
  frontend/src/components/login-form.vue.spec.ts
  frontend/src/composables/use-save-and-redirect.spec.ts
  frontend/src/composables/use-save-and-redirect.ts
  frontend/src/composables/use-visibility-toggle.spec.ts
  frontend/src/composables/use-visibility-toggle.ts
Due: prettier --write, eslint --cache --fix

🚚 relocate: move components to a subdirectory for grouping
  frontend/src/components/guest/google-sign-in-button.vue
  frontend/src/components/guest/login-form.vue
  frontend/src/components/guest/login-form.vue.spec.ts
  frontend/src/components/guest/login-jumbotron.vue
  frontend/src/components/guest/register.graphql
  frontend/src/components/guest/registration-form.vue
  frontend/src/pages/login-page.vue
  frontend/src/pages/registration-page.vue
Due: prettier --write, eslint --cache --fix

🚚 relocate: reorganize pages into subfolders
  frontend/src/pages/guest/login-page.vue
  frontend/src/pages/guest/registration-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: fix incorrect path for image in jumbotron due to recent refactors
  frontend/src/components/guest/login-jumbotron.vue
Due: prettier --write, eslint --cache --fix

🔥 prune: prune unused router spy
  frontend/src/components/guest/login-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

♻️ refactor: unnest user from Axios response in useSaveUserAndRedirect
  frontend/src/components/guest/google-sign-in-button.vue
  frontend/src/components/guest/login-form.vue
  frontend/src/components/guest/login-form.vue.spec.ts
  frontend/src/components/guest/register.graphql
  frontend/src/components/guest/registration-form.vue
  frontend/src/composables/use-save-and-redirect.spec.ts
  frontend/src/composables/use-save-and-redirect.ts
Due: prettier --write, eslint --cache --fix

✅ tests: add unit test for registration form
  frontend/src/components/guest/registration-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update README badges
  README.md
  frontend/README.md
Due: prettier --write

♻️ refactor: change import to graph codegen'd code
  frontend/src/auth.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add user menu
  frontend/src/components/header/user-menu.vue
  frontend/src/layouts/main-layout.vue
Due: prettier --write, eslint --cache --fix

🔨 devscripts: add HTML reporting for Cucumber
  backend/.cypress-cucumber-preprocessorrc.json
  backend/cucumber-report.js
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🎨 codestyle: reformat with Prettier
  backend/cypress/plugins/index.js
  backend/database/seeder.ts
Due: prettier --write, eslint --cache --fix

🔧 config(tsconfig): up target to ES2021 to enable String#replaceAll
  backend/tsconfig.json
Due: prettier --write

🙈 gitignore: ignore cucumber report dirs and folders
  backend/.gitignore
Due: none

✅ tests(e2e): update E2E tests to include registration
  backend/cypress/integration/common.steps.ts
  backend/cypress/integration/login.feature
  backend/cypress/integration/login.steps.ts
  backend/cypress/integration/register.feature
  backend/cypress/integration/register.steps.ts
  frontend/src/components/header/user-menu.vue
Due: prettier --write, eslint --cache --fix

🏷️ types: fix TS error on frontend auth files
  frontend/src/auth.ts
  frontend/src/router/auth-guard.spec.ts
Due: prettier --write, eslint --cache --fix

🔨 devscripts: add a script to open Cypress GUI with the correct NODE_ENV
  backend/package.json
Due: prettier --write

💚 fixci: fix missing step (codegen) on CI
  .github/workflows/node.js.yml
Due: none

✨ feature(backend): add check if email exists
  backend/src/users/user.resolver.spec.ts
  backend/src/users/user.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/schema.graphql
Due: prettier --write, eslint --cache --fix

💡 comment: document idea on solving testability issues with urql
  frontend/src/app.vue
Due: prettier --write, eslint --cache --fix

✨ feature: add email uniqueness check
  frontend/src/components/guest/email-exists.graphql
  frontend/src/components/guest/registration-form.vue
Due: prettier --write, eslint --cache --fix

✅ tests: add email uniqueness validation E2E
  backend/cypress/integration/register.feature
  backend/cypress/integration/register.steps.ts
Due: prettier --write, eslint --cache --fix

✅ tests: fix failing test due to unmocked useQuery
  frontend/src/components/guest/registration-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update readme coverage badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write
