Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

♻️ refactor: add type for users without passwordHash
  backend/src/users/user.entity.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add local auth strategy
  backend/src/auth/auth.module.ts
  backend/src/auth/local.strategy.spec.ts
  backend/src/auth/local.strategy.ts
Due: eslint --cache --fix, prettier --write

➕ depadd: add ts-node
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: implement controller route and auth guards
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/auth/local-auth.guard.ts
Due: eslint --cache --fix, prettier --write

⬆️ upgrade: auto-upgrade deps
  pnpm-lock.yaml
Due: none

🔧 config: setup migrations
  .prettierrc
  backend/migrations/README.md
  backend/ormconfig.json
  backend/package.json
Due: prettier --write

🔧 config: allow class methods that don't use the `this` keyword
  backend/.eslintrc.js
Due: eslint --cache --fix, prettier --write

🔧 config: change naming strategy to Snake
  backend/ormconfig.js
  backend/ormconfig.json
  backend/package.json
  backend/src/app.module.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🐛 bugfix: fix incorrect path for entities in TypeOrmModule.forRoot
  backend/src/app.module.ts
Due: eslint --cache --fix, prettier --write

🗃️ db: add users table
  backend/migrations/1652375904216-AddUsersTable.ts
Due: eslint --cache --fix, prettier --write

💚 fixci: fix incorrect pnpm lock for frontend
  pnpm-lock.yaml
Due: none

🔥 prune: cleanup lock file
  pnpm-lock.yaml
Due: none

🔧 config: enable esModuleInterop in tsconfig
  backend/tsconfig.json
Due: prettier --write

♻️ refactor: make ormconfig.json SSOT
  backend/ormconfig.js
  backend/ormconfig.ts
  backend/package.json
  backend/src/app.module.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

💚 fixci: fix broken lockfile
  pnpm-lock.yaml
Due: none

♻️ refactor: use dotenv/config side-effect import
  backend/ormconfig.ts
Due: eslint --cache --fix, prettier --write

🎨 codestyle: make spacing uniform in auth.service.spec.ts
  backend/src/auth/auth.service.spec.ts
Due: eslint --cache --fix, prettier --write

🔥 prune: remove hello world route
  backend/src/app.controller.ts
  backend/test/app.integration-spec.ts
Due: eslint --cache --fix, prettier --write

🔧 config: turn off Airbnb's arrow-body-style for .spec.ts files only
  .eslintrc.js
Due: eslint --cache --fix, prettier --write

🚚 relocate: move jest config from package.json to its own dedicated file
  backend/jest.config.js
  backend/package.json
Due: eslint --cache --fix, prettier --write

✅ tests: remove unit test for root route
  backend/src/app.controller.spec.ts
Due: eslint --cache --fix, prettier --write

🚚 relocate: use .integration.spec.ts convention over .integration-spec.ts
  backend/test/app.integration.spec.ts
  backend/test/jest-integration.json
Due: eslint --cache --fix, prettier --write

➕ depadd: add better-sqlite3 for in-memory DB
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: enable AppModule to use sqlite3 in-memory DB during tests
  backend/src/app.module.ts
Due: eslint --cache --fix, prettier --write

🔥 prune: remove AppService dependency in AppController
  backend/src/app.controller.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add register method to UsersService
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

✅ tests: add integration test for /auth/login
  backend/test/app.integration.spec.ts
Due: eslint --cache --fix, prettier --write

📝 docs: add some notes about TypeORM being pinned at 0.2.x (not latest)
  README.md
Due: prettier --write

✅ tests: change setup and teardown to only occur once
  backend/test/app.integration.spec.ts
Due: eslint --cache --fix, prettier --write

💡 comment: comment on why backend typecheck task exists
  backend/package.json
Due: prettier --write

💡 comment: try updating GH issue using a feature from todo-to-issue
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

🥚 joke: try the auto-labelling feature of todo-to-issue
  backend/src/app.service.ts
Due: eslint --cache --fix, prettier --write

🔥 prune: remove AppService and its imports
  backend/src/app.controller.spec.ts
  backend/src/app.service.ts
Due: eslint --cache --fix, prettier --write

📝 docs: document unit testing conventions
  README.md
Due: prettier --write

🩹 fix: change #insert to #save for #register
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

🔧 config: setup .vscode folders correctly
  .vscode/settings.json
  backend/.vscode/settings.json
  frontend/.vscode/settings.json
Due: prettier --write

✅ tests: add #register test, and improve UsersService tests in general
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

⬆️ upgrade: update packages
  pnpm-lock.yaml
Due: none

♻️ refactor: refactor auth into its own controller
  backend/src/app.controller.spec.ts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

♻️ refactor: refactor TypeORM in-memory SQLite config into a helper fn
  backend/test/auth.integration.spec.ts
  backend/test/helpers/typeOrmInMemoryModules.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
