Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,vue,scss,html,md,json}": "prettier --write",
  "*.{js,ts,vue}": "eslint --cache --fix"
}

📝 docs: update coverage badges
  README.md
  frontend/README.md
Due: prettier --write

🔥 prune: remove evil spirits
  backend/src/users/current-user.decorator.ts
  frontend/src/components/projects/project-card.vue.spec.ts
Due: prettier --write, eslint --cache --fix

➕ depadd: update packages, especially TypeORM v0.3.0 (breaking changes)
  backend/database/seeder.ts
  backend/package.json
  backend/src/app.module.spec.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  backend/test/auth.integration.spec.ts
  backend/test/smoke.integration.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🔨 devscripts: update scripts + add a datasource file
  backend/datasource.ts
  backend/package.json
Due: prettier --write, eslint --cache --fix

🔨 devscripts: fix devscripts causing outdated badges problem
  package.json
Due: prettier --write

📝 docs: update readme coverage badges
  frontend/README.md
Due: prettier --write

📝 docs: update README badges
  README.md
Due: prettier --write

💚 fixci: regenerate lockfile
  pnpm-lock.yaml
Due: none

✨ feature: add createProjectWithOwner method for project service
  backend/src/projects/projects.service.spec.ts
  backend/src/projects/projects.service.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: add workaround for typeorm-dataloader using 0.2.0 functions/methods
  backend/ormconfig.ts
  backend/src/app.module.ts
Due: prettier --write, eslint --cache --fix

⬆️ upgrade: upgrade Nest/graphql to see if Mapped Types bug disappear
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: add DTO for project input, with workaround
  backend/src/projects/project-input.dto.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add createProject resolver
  backend/src/projects/project.resolver.spec.ts
  backend/src/projects/project.resolver.ts
  frontend/schema.graphql
Due: prettier --write, eslint --cache --fix

📝 docs: update coverage badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write

💚 fixci: upgrade pnpm version on CI
  .github/workflows/node.js.yml
Due: none

✨ feature: add "create project" feature on the frontend (debt: no tests)
  frontend/src/components/projects/create-project-form.vue
  frontend/src/components/projects/create-project.graphql
  frontend/src/components/projects/my-projects.vue
  frontend/src/pages/projects/new-project-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add sprint length, change project role to Scrum role
  backend/database/migrations/1654171321360-RenameToScrumRole.ts
  backend/database/migrations/1654172956515-AddSprintLengthColumn.ts
  backend/src/projects/membership.entity.ts
  backend/src/projects/project-input.dto.ts
  backend/src/projects/project-role.enum.ts
  backend/src/projects/project.entity.ts
  backend/src/projects/projects.service.spec.ts
  backend/src/projects/projects.service.ts
  backend/src/projects/scrum-role.enum.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update coverage badges
  README.md
  backend/README.md
  frontend/schema.graphql
Due: prettier --write

✅ tests: add sprint length to project resolver tests
  backend/src/projects/project.resolver.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update readme badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write

🗃️ db: fix migration for adding sprint_length column
  backend/database/migrations/1654172956515-AddSprintLengthColumn.ts
Due: prettier --write, eslint --cache --fix

✅ tests: add tests for create-project form
  frontend/src/components/projects/create-project-form-vue.test.ts
Due: prettier --write, eslint --cache --fix

💄 ui: enhance create-project form with backend changes (sprint length)
  frontend/src/components/projects/create-project-form.vue
Due: prettier --write, eslint --cache --fix

🩹 fix: refresh data when navigating to route
  frontend/src/components/projects/my-projects-container.vue
Due: prettier --write, eslint --cache --fix

🎨 codestyle: add some newline
  frontend/src/components/projects/create-project-form-vue.test.ts
Due: prettier --write, eslint --cache --fix

✨ feature: change project creator to Scrum Master by default
  backend/src/projects/projects.service.spec.ts
  backend/src/projects/projects.service.ts
Due: prettier --write, eslint --cache --fix

🚚 relocate: rename with .spec.ts extension
  frontend/src/components/projects/create-project-form-vue.spec.ts
Due: prettier --write, eslint --cache --fix

💄 ui: work on project view UI
  frontend/src/components/projects/project-view.vue
  frontend/src/components/projects/project-view.vue.spec.ts
Due: prettier --write, eslint --cache --fix

🔥 prune: remove unused vars
  extract-badges.js
Due: prettier --write, eslint --cache --fix

✅ tests: improve tests for project view
  frontend/src/components/projects/project-view.vue.spec.ts
Due: prettier --write, eslint --cache --fix

💄 ui: add new member selector to project view
  frontend/src/components/projects/project-view.vue
Due: prettier --write, eslint --cache --fix

➕ depadd: add lodash to frontend
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

💄 ui: add info about sprint length edits
  frontend/src/components/projects/create-project-form.vue
Due: prettier --write, eslint --cache --fix

💄 ui: add page for project view
  frontend/src/components/projects/project-view-container.vue
  frontend/src/pages/projects/project-view-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

💄 ui: modify branding colors
  frontend/src/css/quasar.variables.scss
Due: prettier --write

📝 docs: remove parts that have since been resolved
  README.md
Due: prettier --write

✨ feature: add user search method for user service
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Due: prettier --write, eslint --cache --fix
