Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

💚 fixci: fix file permissions on backend (due to report generation)
  .github/workflows/node.js.yml
Due: none

💚 fixci: create a dummy file to make Cypress Cucumber happy
  .github/workflows/node.js.yml
Due: none

💚 fixci: fix incorrect file path (really sleepy now)
  .github/workflows/node.js.yml
Due: none

💚 fixci: give up and disable json reports on CI
  .github/workflows/node.js.yml
  backend/.cypress-cucumber-preprocessorrc.js
  backend/.cypress-cucumber-preprocessorrc.json
Due: prettier --write, eslint --cache --fix

🩹 fix: fix possible race condition due to debounce
  frontend/src/components/guest/registration-form.vue
Due: prettier --write, eslint --cache --fix

💡 comment(todo): resolve todo, boot idea won't work
  frontend/src/app.vue
Due: prettier --write, eslint --cache --fix

🔧 config: attempt to enable sourcemaps
  frontend/vite.config.js
Due: prettier --write, eslint --cache --fix

✅ tests: add unit test for email uniqueness check
  frontend/src/components/guest/registration-form.vue
  frontend/src/components/guest/registration-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

✅ tests: fix E2E test having incorrect message
  backend/cypress/integration/register.feature
  frontend/README.md
Due: prettier --write

📝 docs: update readme badges
  README.md
Due: prettier --write

💡 comment(todo): add todo marker to open possibilities for more unit tests
  frontend/src/components/guest/registration-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update readme coverage badges (again)
  README.md
  frontend/README.md
Due: prettier --write

➕ depadd: add wonka and regenerate lock file
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

✅ tests: mock urql properly
  frontend/src/components/guest/registration-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update coverage badges
  README.md
  frontend/README.md
Due: prettier --write

✨ feature(backend): add logout route to remove cookies
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
Due: prettier --write, eslint --cache --fix

✨ feature(frontend): add logout to frontend
  frontend/src/components/header/logout-menu-item.vue
  frontend/src/components/header/logout-menu-item.vue.spec.ts
  frontend/src/components/header/user-menu.vue
  frontend/src/components/header/user.menu.vue.spec.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update readme coverage badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write

✅ tests: improve backend test coverage (for DoD)
  backend/src/app.module.spec.ts
  backend/src/auth/auth.module.spec.ts
  backend/src/auth/jwt.strategy.spec.ts
  backend/src/users/users.module.spec.ts
Due: prettier --write, eslint --cache --fix

✅ tests: add E2E for logout
  backend/cypress/integration/common.steps.ts
  backend/cypress/integration/login.steps.ts
  backend/cypress/integration/logout.feature
  backend/cypress/integration/logout.steps.ts
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

✨ feature: add project module and entity
  backend/src/projects/project.entity.ts
  backend/src/projects/projects.module.ts
Due: prettier --write, eslint --cache --fix

➕ depadd: add faker
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: connect project module to app module
  backend/src/app.module.ts
Due: prettier --write, eslint --cache --fix

✨ feature: enhance seed to allow custom functions (also allows faker usage)
  backend/database/seeder.ts
Due: prettier --write, eslint --cache --fix

🗃️ db: add project migration and seed
  backend/database/migrations/1654005634763-AddProjectsTable.ts
  backend/database/seeds/project.seed.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add shim for @webundsoehne/nestjs-graphql-typeorm-dataloader
  frontend/src/shims/typeorm-dataloader.ts
  frontend/vite.config.js
Due: prettier --write, eslint --cache --fix

➖ deprm: remove @webundsoehne/nestjs-graphql-typeorm-dataloader
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

⏪️ revert: revert @webundsoehne/nestjs-graphql-typeorm-dataloader shim
  frontend/src/shims/typeorm-dataloader.ts
  frontend/vite.config.js
Due: prettier --write, eslint --cache --fix

🔥 prune: prune @webundsoehne/nestjs-graphql-typeorm-dataloader interceptor
  backend/src/app.module.ts
Due: prettier --write, eslint --cache --fix

✅ tests: fix failing coverage tests
  backend/src/auth/auth.module.spec.ts
  backend/src/users/users.module.spec.ts
Due: prettier --write, eslint --cache --fix

➕ depadd: add graphql-parse-resolve-info (wow a lib from Postgraphile)
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: add many-to-many relationship between users and projects
  backend/src/projects/project.entity.ts
  backend/src/projects/projects.module.ts
  backend/src/users/user-without-hash.dto.ts
  backend/src/users/user.entity.ts
Due: prettier --write, eslint --cache --fix

🗃️ db: add many-to-many relationship migration
  backend/database/migrations/1654009821092-AddManyToMany.ts
Due: prettier --write, eslint --cache --fix

🏷️ types: fix user seed types
  backend/database/seeds/user.seed.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add service and resolver for projects
  backend/src/projects/project.resolver.ts
  backend/src/projects/projects.service.ts
  frontend/schema.graphql
Due: prettier --write, eslint --cache --fix

📝 docs: update coverage badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write

✅ tests: fix missing entity on auth integration test
  backend/test/auth.integration.spec.ts
Due: prettier --write, eslint --cache --fix

⬆️ upgrade: upgrade vue-tsc
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
  eslint --cache --fix: any of: *.{js,ts,vue}
