Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

🏷️ types: make User's relationships nullable
  backend/src/users/user.entity.ts
Due: eslint --cache --fix, prettier --write

✅ tests: add test for user and exercise resolvers
  README.md
  backend/src/exercises/exercise.resolver.spec.ts
  backend/src/users/user.resolver.spec.ts
Due: eslint --cache --fix, prettier --write

🐛 bugfix: fix JWT guard to be GraphQL-compatible
  backend/src/auth/jwt.guard.ts
Due: eslint --cache --fix, prettier --write

🛂 auth: guard UserResolver
  backend/src/users/user.resolver.ts
Due: eslint --cache --fix, prettier --write

🏷️ types: make Exercise entity relations optional
  backend/src/exercises/exercise.entity.ts
Due: eslint --cache --fix, prettier --write

✨ feature: connect Exercise module to root module
  backend/src/app.module.ts
  frontend/schema.graphql
Due: eslint --cache --fix, prettier --write

🔨 devscripts: add frontend (fe) shortcut to NPM scripts
  package.json
Due: prettier --write

🗃️ db: improve seed to only execute when empty
  backend/database/seeds/exercises.seed.ts
  backend/database/seeds/users.seed.ts
Due: eslint --cache --fix, prettier --write

🚀 deploy: prepare for pilot deployment
  backend/package.json
  backend/src/app.module.ts
Due: eslint --cache --fix, prettier --write

🚀 deploy: specify Node version
  package.json
Due: prettier --write

🐛 bugfix: specify port env var for prod
  backend/src/main.ts
Due: eslint --cache --fix, prettier --write

🚀 deploy: setup render.yaml
  render.yaml
Due: none

🔨 devscripts: add deploy script
  backend/package.json
  frontend/package.json
Due: prettier --write

🚀 deploy: create render.yaml (render.com's infra as code)
  render.yaml
Due: none

📝 docs: document that render.com only allows one free-tier DB
  README.md
Due: prettier --write

⚗️ poc: attempt to really, really bypass the one-DB limit of render.com
  .gitignore
  backend/database/.eslintrc.js
  backend/database/migrations-staging/1652887775878-AddUsersAndEntitiesTable.ts
  backend/ormconfig.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🚀 deploy: attempt risky ninja :ninja: move
  render.yaml
Due: none

📝 docs: document staging and prod differences
  README.md
Due: prettier --write

📝 docs(add additional notes on deployment and migration):
  README.md
Due: prettier --write

🔧 config: turn off auto-deploy (will be handled by a passing CI)
  render.yaml
Due: none

👷 ci: add a deploy to staging step on CI
  .github/workflows/node.js.yml
Due: none

📝 docs: include render.com web hooks in the warning
  README.md
Due: prettier --write

📝 docs: clarify that deployment is only after a green CI
  README.md
Due: prettier --write

🔧 config(render): remove 90-day volatile PG
  render.yaml
Due: none

🔥 prune: remove SQLite staging hack
  backend/database/migrations-staging/1652887775878-AddUsersAndEntitiesTable.ts
  backend/ormconfig.ts
Due: eslint --cache --fix, prettier --write

📝 docs: document Railway PG and Docker usage
  README.md
Due: prettier --write

🚑️ hotfix: fix missing shared secrets on render.yaml
  render.yaml
Due: none

📝 docs: [skip ci] remove spaces on README badges
  README.md
Due: prettier --write

📝 docs: [skip ci] fix incorrect JWT_EXPIRES syntax in README snippet
  README.md
Due: prettier --write

📝 docs: fix pasted .oh-my-zsh shell prompt
  README.md
Due: prettier --write

📝 docs: update README ToC [skip ci]
  README.md
Due: prettier --write

🔥 prune: remove exercise-related code
  README.md
  backend/database/migrations/1652968663759-DropExercisesTable.ts
  backend/database/seeds/exercises.seed.ts
  backend/src/app.module.ts
  backend/src/exercises/exercise.entity.ts
  backend/src/exercises/exercise.resolver.spec.ts
  backend/src/exercises/exercise.resolver.ts
  backend/src/exercises/exercises.module.ts
  backend/src/exercises/exercises.service.ts
  backend/src/users/user.entity.ts
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

🍱 assets: add logo
  frontend/src/assets/logo.png
Due: none

🚸 ux: switch to Google Identity Services token auth
  README.md
  backend/package.json
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/main.ts
  frontend/index.html
  frontend/src/pages/IndexPage.vue
  frontend/src/untyped-js/google-auth.js
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🔥 prune: remove exercise-related entries from generated GraphQL schema
  frontend/schema.graphql
Due: none

🔧 config: allow JS to cater to the untyped Google Auth code
  frontend/tsconfig.json
Due: prettier --write

🔧 config: try reversing Prettier and ESLint
  .lintstagedrc
Due: none

✨ feature: work on branding
  frontend/src/css/app.scss
  frontend/src/layouts/MainLayout.vue
Due: eslint --cache --fix, prettier --write

✨ feature: change frontend and backend origins to env vars
  backend/src/main.ts
  frontend/package.json
  frontend/quasar.config.js
  frontend/src/untyped-js/google-auth.js
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

👷 ci: add env vars to CI config
  .github/workflows/node.js.yml
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
