Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

🐛 bugfix: fix broken quasar.d.ts file syntax due to the eslint changes
  frontend/src/quasar.d.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add JWT guard
  README.md
  backend/src/auth/jwt.guard.ts
Due: eslint --cache --fix, prettier --write

👷 ci: update CI scripts
  .github/workflows/node.js.yml
  .husky/pre-push
  package.json
Due: prettier --write

🔨 devscripts: change coverage badge to match Github's flat style
  README.md
  package.json
Due: prettier --write

📝 docs: remove newline/paragraph from README badges
  README.md
Due: prettier --write

📝 docs: add auto-generated TOC for README
  .gitignore
  README.md
Due: prettier --write

🔥 prune: remove unnecessary providers in auth integration test
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

✨ feature: implement UserResolver
  README.md
  backend/src/app.module.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

🔧 config: make ESLint friendlier to @nestjs/graphql
  backend/.eslintrc.js
Due: eslint --cache --fix, prettier --write

📸 snapshots: commit schema.graphql for easier diffing
  frontend/schema.graphql
Due: none

➕ depadd: add and configure typeorm-uml
  README.md
  backend/ormconfig.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🐛 bugfix: fix incorrect migrationsDir in ormconfig.json
  backend/ormconfig.ts
Due: eslint --cache --fix, prettier --write

🔧 config(eslint): relax rule for migrations
  backend/database/migrations/.eslintrc.js
Due: eslint --cache --fix, prettier --write

✨ feature: add Exercise entity
  backend/src/exercises/exercise.entity.ts
Due: eslint --cache --fix, prettier --write

🗃️ db: add migration for exercise table
  backend/database/migrations/1652776693945-AddExerciseTable.ts
Due: eslint --cache --fix, prettier --write

📌 depver: regenerate lockfile
  pnpm-lock.yaml
Due: none

🔨 devscripts: use npm-run-all to parallelize tasks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

💚 fixci: fix broken CI build from broken lockfile
  pnpm-lock.yaml
Due: none

🔨 devscripts: add backend shortcut script to monorepo root
  README.md
  package.json
Due: prettier --write

➕ depadd: add dataloader for nestjs + typeorm usage
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

🔧 config: prepare for next version of swc that allows path aliases
  backend/jest.config.js
Due: eslint --cache --fix, prettier --write

✨ feature: add exercises
  backend/src/exercises/exercise.entity.ts
  backend/src/exercises/exercise.resolver.ts
  backend/src/exercises/exercises.service.ts
  backend/src/users/user.entity.ts
Due: eslint --cache --fix, prettier --write

🔧 config(eslint): remove gqlType as allowed unused var
  README.md
  backend/.eslintrc.js
Due: eslint --cache --fix, prettier --write

🔧 config: enable TypeORM logging
  README.md
  backend/ormconfig.ts
Due: eslint --cache --fix, prettier --write

➕ depadd: add chalk, pinned to v4, since v5 is ESM-only
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

🏷️ types: fix type of JwtStrategy#validate
  backend/src/auth/jwt.strategy.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add one-to-many relationship between User and Exercise
  backend/src/exercises/exercise.entity.ts
  backend/src/users/user.entity.ts
Due: eslint --cache --fix, prettier --write

✨ feature: enable "declarative" TypeORM dataloader
  backend/src/app.module.ts
Due: eslint --cache --fix, prettier --write

✨ feature: improve resolver and services for exercise
  backend/src/exercises/exercise.resolver.ts
  backend/src/exercises/exercises.module.ts
  backend/src/exercises/exercises.service.ts
  frontend/schema.graphql
Due: eslint --cache --fix, prettier --write

🗃️ db: add exercises-related migrations
  backend/database/migrations/1652803531114-AddFkToExercises.ts
Due: eslint --cache --fix, prettier --write

🗃️ db: add seeds for users and exercises
  backend/database/seeds/exercises.seed.ts
  backend/database/seeds/users.seed.ts
Due: eslint --cache --fix, prettier --write

✅ tests: fix failed integration test
  backend/test/auth.integration.spec.ts
  backend/test/helpers/typeorm-in-memory-modules.ts
Due: eslint --cache --fix, prettier --write

🏷️ types: fix mostly TS getting angry
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/auth/local.strategy.spec.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

📌 depver: regenerate lock file
  pnpm-lock.yaml
Due: none

⬆️ upgrade: update packages
  pnpm-lock.yaml
Due: none

➕ depadd: add typescript recursively to packages
  backend/package.json
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

➖ deprm: remove postcss from root
  package.json
  pnpm-lock.yaml
Due: prettier --write

📝 docs: document how to remove packages using pnpm safety
  README.md
Due: prettier --write

⏪️ revert: revert changes to 9ea7b7b
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/auth/local.strategy.spec.ts
  backend/src/users/user.entity.ts
  backend/src/users/user.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
