Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,vue,scss,html,md,json}": "prettier --write",
  "*.{js,ts,vue}": "eslint --cache --fix"
}

🔥 prune: remove forgotten seed script in backend/package.json
  backend/package.json
Due: prettier --write

🐛 bugfix: change env vars on frontend to have VITE_ prefix
  .github/workflows/node.js.yml
  frontend/src/untyped-js/google-auth.js
Due: prettier --write, eslint --cache --fix

🩹 fix: fix incorrect prod replacement
  frontend/src/untyped-js/google-auth.js
Due: prettier --write, eslint --cache --fix

✨ feature: implement "ad" on login page
  frontend/src/css/quasar.variables.scss
  frontend/src/layouts/MainLayout.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

🔧 config: configure Quasar to use MDI and history mode
  frontend/quasar.config.js
Due: prettier --write, eslint --cache --fix

💄 ui: redo login page
  frontend/src/assets/agile.png
  frontend/src/components/AppFeatureCard.vue
  frontend/src/components/LoginJumbotron.vue
  frontend/src/layouts/GuestLayout.vue
  frontend/src/layouts/MainLayout.vue
  frontend/src/pages/IndexPage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/router/routes.ts
  frontend/src/untyped-js/google-auth.js
Due: prettier --write, eslint --cache --fix

🔧 config(eslint): remove props from linted abbreviations
  frontend/.eslintrc.js
Due: prettier --write, eslint --cache --fix

🔧 config(vite): enable reactive destructuring?
  frontend/quasar.config.js
Due: prettier --write, eslint --cache --fix

💄 ui: add footer
  frontend/src/layouts/GuestLayout.vue
Due: prettier --write, eslint --cache --fix

➕ depadd: add localforage and vitest
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

🔧 config(eslint): reconfigure annoying linting rules
  .eslintrc.js
  backend/.eslintrc.js
  frontend/.eslintrc.js
  frontend/src/boot/.eslintrc.js
  frontend/src/router/.eslintrc.js
Due: prettier --write, eslint --cache --fix

🔧 config(tsconfig): tweak tsconfig for vite and vue's script-setup
  frontend/tsconfig.json
Due: prettier --write

➕ depadd: add c8 as a vitest dep
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

✅ tests: setup vitest and one dummy test
  frontend/src/router/routes.spec.ts
  frontend/vite.config.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add login functionality
  frontend/quasar.config.js
  frontend/src/App.vue
  frontend/src/auth.ts
  frontend/src/axios.ts
  frontend/src/boot/localforage.ts
  frontend/src/components/EssentialLink.vue
  frontend/src/components/ExampleComponent.vue
  frontend/src/layouts/MainLayout.vue
  frontend/src/pages/IndexPage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/router/index.ts
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

🚨 lint: fix linter error
  frontend/src/pages/ErrorNotFound.vue
Due: prettier --write, eslint --cache --fix

🔧 config(tsconfig): enable decorators and remove strict initialization
  frontend/tsconfig.json
Due: prettier --write

🔧 config(vite): fix commonjs import issue
  frontend/package.json
  frontend/quasar.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🚚 relocate: relocate module-boundary TS rule to root
  .eslintrc.js
  backend/.eslintrc.js
Due: prettier --write, eslint --cache --fix

🔧 config: configure vite.config.ts to mirror quasar.config.js settings
  frontend/vite.config.ts
Due: prettier --write, eslint --cache --fix

🔧 config(tsconfig): allow synthetic default imports
  frontend/tsconfig.json
Due: prettier --write

🧪 fall: add tests for auth guard
  frontend/src/router/auth-guard.spec.ts
Due: prettier --write, eslint --cache --fix

🔥 prune: remove dummy routes test
  frontend/src/router/routes.spec.ts
Due: prettier --write, eslint --cache --fix

✨ feature: implement testable auth guard
  frontend/src/auth.ts
  frontend/src/router/auth-guard.ts
  frontend/src/router/index.ts
Due: prettier --write, eslint --cache --fix

🔨 devscripts: re-implement README badges for the full stack
  README.md
  backend/README.md
  backend/package.json
  extract-badges.js
  frontend/README.md
  frontend/package.json
  frontend/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🔨 devscripts: add autocommit if README badges changed
  extract-badges.js
Due: prettier --write, eslint --cache --fix

🔧 config: remove badge regeneration before commits
  .husky/pre-commit
  .husky/pre-push
Due: none

🚨 lint: fix weird TS linting error on a JS file
  frontend/src/untyped-js/google-auth.js
Due: prettier --write, eslint --cache --fix

🔨 devscripts: fix extract-badges script returning with exit code 1
  commit-readme.sh
  extract-badges.js
Due: prettier --write, eslint --cache --fix

🔨 devscripts: fix incorrect pre-commit script in Husky
  .husky/pre-push
  commit-readme.sh
Due: none

🔧 config: change node engine for frontend
  frontend/package.json
Due: prettier --write

🚚 relocate: change vite config from TS to JS (too many weird TS issues)
  frontend/vite.config.js
Due: prettier --write, eslint --cache --fix

♻️ refactor: deduplicate entries in vite.config and quasar.config
  frontend/quasar.config.js
  frontend/vite.config.js
Due: prettier --write, eslint --cache --fix

🔥 prune: remove todo comment (forgotten)
  frontend/vite.config.js
Due: prettier --write, eslint --cache --fix

🔧 config: use aliases for the backend, swc included
  backend/jest.config.js
  backend/tsconfig.json
Due: prettier --write, eslint --cache --fix

📝 docs: document changes across the stack [skip ci]
  README.md
Due: prettier --write

🔥 prune: remove unused import in jest config
  backend/jest.config.js
Due: prettier --write, eslint --cache --fix

💡 comment(todo): gather eslint config into one place
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

🏷️ types: convert untyped google-auth to TS
  frontend/src/auth-strategies/google-auth.ts
  frontend/src/untyped-js/google-auth.js
Due: prettier --write, eslint --cache --fix

🔧 config: reconfigure axios.credentials
  frontend/src/axios.ts
Due: prettier --write, eslint --cache --fix
