Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

🏷️ types: make relation nullable (as they should be without joins)
  backend/src/users/user.entity.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: replace truncate with delete
  backend/database/seeder.ts
Due: prettier --write, eslint --cache --fix

⏪️ revert: resurrect @webundsoehne/nestjs-graphql-typeorm-dataloader
  backend/package.json
  backend/src/app.module.ts
  frontend/src/shims/typeorm-dataloader.ts
  frontend/vite.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🗃️ db: remove implicit many-to-many between users -> projects
  backend/database/migrations/1654045715218-DropImplicitManyToMany.ts
  backend/src/projects/project.entity.ts
  backend/src/users/user.entity.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add explicit many-to-many (Users -> Projects) via Membership
  backend/src/projects/membership.entity.ts
  backend/src/projects/project-role.enum.ts
  backend/src/projects/project.entity.ts
  backend/src/projects/project.resolver.ts
  backend/src/projects/projects.module.ts
  backend/src/projects/projects.service.ts
  backend/src/users/user-without-hash.dto.ts
  backend/src/users/user.entity.ts
Due: prettier --write, eslint --cache --fix

🗃️ db: add migration for memberships
  backend/database/migrations/1654049388314-AddMemberships.ts
Due: prettier --write, eslint --cache --fix

📸 snapshots: add schema.graphql changes
  frontend/schema.graphql
Due: none

🩹 fix: omit membership in user-without-hash DTO
  backend/src/users/user-without-hash.dto.ts
Due: prettier --write, eslint --cache --fix

✅ tests: add membership to module mocks in tests
  backend/src/auth/auth.module.spec.ts
  backend/src/users/users.module.spec.ts
  backend/test/auth.integration.spec.ts
Due: prettier --write, eslint --cache --fix

🔥 prune: remove unnecessary @InputType
  backend/src/projects/membership.entity.ts
  backend/src/projects/project.entity.ts
  backend/src/users/user.entity.ts
  frontend/schema.graphql
Due: prettier --write, eslint --cache --fix

📝 docs: update coverage badges
  README.md
  backend/README.md
  frontend/README.md
Due: prettier --write

✅ tests: repay tech debt of untested projects service
  backend/src/projects/projects.service.spec.ts
Due: prettier --write, eslint --cache --fix

✅ tests: repay tech debt of missing project resolver test
  backend/src/projects/project.resolver.spec.ts
Due: prettier --write, eslint --cache --fix

✅ tests: add project module test for coverage
  backend/src/projects/projects.module.spec.ts
Due: prettier --write, eslint --cache --fix

🔨 devscripts: add test:cov for parallel FE and BE coverage
  package.json
Due: prettier --write

📝 docs: update readme coverage badges
  README.md
  backend/README.md
Due: prettier --write

✨ feature: add param decorator for current user
  backend/src/users/current-user.decorator.spec.ts
  backend/src/users/current-user.decorator.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add findByUserId for projects
  backend/src/projects/projects.service.spec.ts
  backend/src/projects/projects.service.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add resolver for the current user's projects
  backend/src/projects/project.resolver.spec.ts
  backend/src/projects/project.resolver.ts
Due: prettier --write, eslint --cache --fix

📸 snapshots: add generated schema.graphql
  frontend/schema.graphql
Due: none

🏷️ types: fix mocks and unrecognized import aliases
  backend/src/projects/project.resolver.spec.ts
  backend/src/projects/project.resolver.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update coverage badges
  README.md
  frontend/README.md
Due: prettier --write

🚀 deploy: remove PR previews on render
  render.yaml
Due: none

⬆️ upgrade: upgrade Quasar
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

✅ tests: fix incorrect import (Quasar instead of { Quasar })
  frontend/src/components/header/logout-menu-item.vue.spec.ts
Due: prettier --write, eslint --cache --fix

💄 ui: add projects UI
  frontend/src/components/projects/my-projects.vue
  frontend/src/components/projects/my-projects.vue.spec.ts
  frontend/src/components/projects/project-card.vue
  frontend/src/components/projects/project-card.vue.spec.ts
  frontend/src/pages/my-projects-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

📝 docs: update badges
  README.md
  frontend/README.md
Due: prettier --write

🩹 fix: fix incorrect import in projects page
  frontend/src/pages/my-projects-page.vue
Due: prettier --write, eslint --cache --fix

💄 ui: enhance components of the "projects" feature
  frontend/src/components/projects/my-projects.vue
  frontend/src/components/projects/my-projects.vue.spec.ts
  frontend/src/components/projects/project-card.vue
  frontend/src/components/projects/project-card.vue.spec.ts
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

➕ depadd: add cookie-parser
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

➕ depadd: add urql-core and graphcache exchange
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

🐛 bugfix: fix CORS and cookie issue on the backend
  backend/src/app.module.ts
  backend/src/main.ts
Due: prettier --write, eslint --cache --fix

📝 docs: document that <q-page> has errors when mounted by vue test utils
  frontend/src/pages/README.md
Due: prettier --write

🚚 relocate: move projects page to a subdirectory
  frontend/src/pages/my-projects-page.vue
  frontend/src/pages/projects/my-projects-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

✨ feature: implement Date deserialization
  frontend/graphql.config.yaml
  frontend/src/app.vue
Due: prettier --write, eslint --cache --fix

⚗️ poc: show POC that date deserialization works by annotating a date field
  backend/src/projects/project.entity.ts
Due: prettier --write, eslint --cache --fix

💄 ui: enhance UI components related to the "project" feature
  frontend/src/components/projects/my-projects.vue
  frontend/src/components/projects/project-card.vue
Due: prettier --write, eslint --cache --fix

✨ feature: integrate UI for the "my projects" feature with the backend
  frontend/src/components/projects/my-projects-container.vue
  frontend/src/components/projects/my-projects-container.vue.spec.ts
  frontend/src/components/projects/my-projects.graphql
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
  eslint --cache --fix: any of: *.{js,ts,vue}
