Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

➕ depadd: add vue test utils
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: improve login page to include Google Sign in redirect
  frontend/src/components/ShipThatFeatures.vue
  frontend/src/pages/LoginPage.vue
Due: prettier --write, eslint --cache --fix

🏷️ types: fix any type on destructured user
  frontend/src/pages/LoginPage.vue
Due: prettier --write, eslint --cache --fix

✏️ typo: remove mysterious "y"
  frontend/src/pages/IndexPage.vue
Due: prettier --write, eslint --cache --fix

🔧 config: reconfigure vite to respect tsconfig aliases
  frontend/package.json
  frontend/vite.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

🔧 config(eslint): reconfigure some annoying unicorn rules
  .eslintrc.js
  frontend/.eslintrc.js
Due: prettier --write, eslint --cache --fix

♻️ refactor: break up login form from login page for testability
  frontend/src/components/LoginForm.vue
  frontend/src/pages/LoginPage.vue
Due: prettier --write, eslint --cache --fix

✅ tests: add unit test for login form
  frontend/src/components/LoginForm.spec.ts
Due: prettier --write, eslint --cache --fix

🎨 codestyle: run files through Prettier
  frontend/.eslintrc.js
  frontend/.vscode/settings.json
  frontend/quasar.config.js
  frontend/src/boot/.eslintrc.js
  frontend/src/router/.eslintrc.js
  frontend/tsconfig.json
Due: prettier --write, eslint --cache --fix

📝 docs: update README badges
  README.md
  frontend/README.md
Due: prettier --write

🔧 config(eslint): turn off filename case rule completely
  frontend/.eslintrc.js
Due: prettier --write, eslint --cache --fix

🚚 relocate: switch to kebab casing
  frontend/.eslintrc.js
  frontend/quasar.config.js
  frontend/src/app.vue
  frontend/src/components/app-feature-card.vue
  frontend/src/components/essential-link.vue
  frontend/src/components/example-component.vue
  frontend/src/components/login-form.vue
  frontend/src/components/login-form.vue.spec.ts
  frontend/src/components/login-jumbotron.vue
  frontend/src/components/shipthat-features.vue
  frontend/src/layouts/guest-layout.vue
  frontend/src/layouts/main-layout.vue
  frontend/src/pages/error-not-found.vue
  frontend/src/pages/index-page.vue
  frontend/src/pages/login-page.vue
  frontend/src/router/routes.ts
Due: prettier --write, eslint --cache --fix

🎨 codestyle: run Prettier on monorepo root
  .vscode/settings.json
  backend/jest.config.js
  backend/tsconfig.json
Due: prettier --write, eslint --cache --fix

✅ tests: improve login form unit test
  frontend/src/components/login-form.vue.spec.ts
Due: prettier --write, eslint --cache --fix

➕ depadd: prepare E2E testing
  backend/package.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

🔧 config(eslint): remove another array rule that produces false positives
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

✨ feature: make backend compatible with a test database
  backend/database/cypress-seeder.ts
  backend/ormconfig.ts
  backend/src/app.module.ts
  backend/tsconfig.json
Due: prettier --write, eslint --cache --fix

🔧 config(tsconfig): enable Cypress globals to be TS-friendly
  frontend/tsconfig.json
Due: prettier --write

✅ tests: add E2E tests
  frontend/.gitignore
  frontend/cypress.json
  frontend/cypress/.eslintrc.js
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/login.feature
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/cypress/support/step_definitions/login.ts
Due: prettier --write, eslint --cache --fix

✨ feature: warn if on test environment
  backend/src/main.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: fix faulty dev/test detection
  backend/README.md
  backend/ormconfig.ts
  backend/src/app.module.ts
  frontend/package.json
  package.json
Due: prettier --write, eslint --cache --fix

🏷️ types: fix clashing types between cypress and vitest
  backend/README.md
  frontend/cypress/support/step_definitions/login.ts
  frontend/tsconfig.json
Due: prettier --write, eslint --cache --fix

🔧 config(tsconfig): fix clashing types with Cypress and Jest
  frontend/cypress/tsconfig.json
  frontend/tsconfig.json
Due: prettier --write

📝 docs: update README badges
  README.md
Due: prettier --write

➕ depadd: add start-server-and-test
  frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

🏗️ arch: fix Cypress to work properly
  backend/.gitignore
  backend/cypress.json
  backend/cypress/.eslintrc.js
  backend/cypress/fixtures/example.json
  backend/cypress/integration/login.feature
  backend/cypress/integration/login.ts
  backend/cypress/plugins/index.js
  backend/cypress/support/commands.js
  backend/cypress/support/index.js
  backend/cypress/tsconfig.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  frontend/.gitignore
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

📝 docs: update badges in README
  README.md
  backend/README.md
Due: prettier --write

👷 ci: add E2E to CI
  .github/workflows/node.js.yml
  package.json
Due: prettier --write

💚 fixci: add forgotten test DB env var
  .github/workflows/node.js.yml
Due: none

🔥 prune: remove profanity 😅 ugtas mode
  backend/cypress/integration/login.ts
Due: prettier --write, eslint --cache --fix

🩹 fix: change frontend graphql path that fails CI
  backend/src/app.module.ts
  frontend/src/components/login-form.vue
Due: prettier --write, eslint --cache --fix

📝 docs: update README badges [skip ci]
  README.md
  frontend/README.md
Due: prettier --write

💚 fixci: fix broken CI due to permission error and missing Cypress deps
  .github/workflows/node.js.yml
  backend/src/app.module.ts
Due: prettier --write, eslint --cache --fix

🔧 config(vscode): make prettier the default formatter for this workspace
  backend/.vscode/settings.json
  frontend/.vscode/settings.json
Due: prettier --write

⬆️ upgrade: upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

🔧 config(tsconfig): use no-shadow from TS eslint
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

🗃️ db: add more columns to user
  backend/database/migrations/1653626460664-AddMoreUserColumns.ts
Due: prettier --write, eslint --cache --fix

✨ feature: add more instance vars to user
  backend/src/users/registration-source.ts
  backend/src/users/user.entity.ts
  backend/src/users/users.service.ts
Due: prettier --write, eslint --cache --fix

🔧 config(eslint): remove rule that I thought was a false alarm
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
  eslint --cache --fix: any of: *.{js,ts,vue}
