Repository psse-cpu/sophies-demo-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

♻️ refactor: give local strategy a name
  backend/src/auth/local.strategy.ts
Due: eslint --cache --fix, prettier --write

➕ depadd: add passport-google-oauth
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: add Google sign-in service, strategy, and guard
  backend/src/app.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google-oauth.guard.ts
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/auth/local.strategy.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add Google auth methods for controller
  backend/src/auth/auth.controller.ts
Due: eslint --cache --fix, prettier --write

🔧 config: allow empty decorated methods
  backend/.eslintrc.js
Due: eslint --cache --fix, prettier --write

🚚 relocate: move migrations to a parent database/ folder
  .prettierrc
  backend/database/migrations/1652375904216-AddUsersTable.ts
  backend/database/migrations/README.md
  backend/ormconfig.ts
Due: eslint --cache --fix, prettier --write

🗃️ db: add seeds dir
  backend/database/seeds/.gitkeep
Due: none

🐛 bugfix: fix errors that prevent backend from actually starting
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
Due: eslint --cache --fix, prettier --write

✅ tests: fix missing deps in auth integration tests
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

🔨 devscripts: add a start:dev script to the monorepo root
  frontend/package.json
  package.json
Due: prettier --write

💚 fixci: add secrets to CI config to make CI pass
  .github/workflows/node.js.yml
Due: none

📝 docs: document how to get started
  README.md
Due: prettier --write

🔨 devscripts: add `typeorm` script for monorepo root
  package.json
Due: prettier --write

📝 docs: improve docs
  README.md
Due: prettier --write

➕ depadd: add JWT packages
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feature: add JWT service
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
Due: eslint --cache --fix, prettier --write

🏷️ types: add a little bit of type-safety and Intellisense help
  backend/src/auth/google-oauth.strategy.ts
  backend/src/auth/local.strategy.ts
Due: eslint --cache --fix, prettier --write

✨ feature: add JWT strategy
  backend/src/auth/jwt.strategy.ts
Due: eslint --cache --fix, prettier --write

✨ feature: implement JWT cookies
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
Due: eslint --cache --fix, prettier --write

✅ tests: change description from incorrect status 200 to 201
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

🐛 bugfix: fix JWT implementation not working
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

👷 ci: add JWT env vars, and rearrange vars to be grouped together
  .github/workflows/node.js.yml
Due: none

📝 docs: document JWT env vars
  README.md
Due: prettier --write

➕ depadd: add and configure eslint-plugin-unicorn
  .eslintrc.js
  frontend/.eslintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🚨 lint: fix eslint unicorn errors
  backend/.vscode/settings.json
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google-oauth.strategy.spec.ts
  backend/src/auth/google-oauth.strategy.ts
  backend/src/auth/local.strategy.spec.ts
  backend/test/auth.integration.spec.ts
  backend/test/helpers/typeorm-in-memory-modules.ts
  frontend/.eslintignore
  frontend/postcss.config.js
  frontend/quasar.config.js
Due: eslint --cache --fix, prettier --write

🔧 config: turn off unicorn/no-useless-undefined for tests
  .eslintrc.js
Due: eslint --cache --fix, prettier --write

⏪️ revert: undo eslint-unicorn's autofix of "useless-undefineds"
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/local.strategy.spec.ts
Due: eslint --cache --fix, prettier --write

➕ depadd: add and configure eslint-plugin-boundaries
  backend/.eslintrc.js
  backend/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🚧 wip: mitigate dangerous Manjaro updates, save work in progress
  backend/src/users/user.resolver.spec.ts
  backend/src/users/user.resolver.ts
Due: eslint --cache --fix, prettier --write

🔨 devscripts: fix husky suddenly losing colors
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: none

📌 depver: maintain lock file
  pnpm-lock.yaml
Due: none

🔧 config: fix VSCode extension recommendations
  .vscode/extensions.json
  backend/.vscode/extensions.json
  frontend/.vscode/extensions.json
Due: prettier --write

➕ depadd: add GraphQL packages
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

➕ depadd: add and configure eslint-plugin-eslint-comments
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🚨 lint: fix linter errors after addition of eslint-comments plugin
  frontend/postcss.config.js
  frontend/quasar.config.js
  frontend/src/env.d.ts
  frontend/src/quasar.d.ts
  frontend/src/shims-vue.d.ts
Due: eslint --cache --fix, prettier --write

🎨 codestyle: fix some whitespace issue
  .eslintrc.js
Due: eslint --cache --fix, prettier --write

➕ depadd: add and configure eslint-plugin-jest and eslint-plugin-no-secrets
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

🚨 lint: fix linter warnings in test after adding eslint-plugin-jest
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/users/users.service.spec.ts
  backend/test/auth.integration.spec.ts
Due: eslint --cache --fix, prettier --write

🚧 wip: remove experimental code for eslint-plugin-boundaries
  backend/src/users/user.resolver.ts
Due: eslint --cache --fix, prettier --write

✨ feature: setup badge generation
  .husky/pre-commit
  README.md
  backend/jest.config.js
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue,scss,html,md,json}
